*[role="form"] 
{
    max-width: 1000px;
    padding: 15px;
    margin: 0 auto; 
    background-color: rgb(171, 134, 194);  
    border-radius: 0.3em;

    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;

    -webkit-box-shadow: 30px 30px 60px 30px rgba(0,0,0,0.3);
    box-shadow: 20px 30px 60px 20px rgba(0,0,0,0.3);
}

