<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color: red;" href="#">Finacuity</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Best Seller</a>
      </li>

      <li class="nav-item">
       <a class="nav-link" routerLink="/front/about-us">About-Us</a>
      </li>

       <li class="nav-item">
         <a class="nav-link" routerLink="/front/contact-us">Contact-Us</a>
       </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
  

 <div class="team-section">
    <div class="inner-width">
      <h1>Meet Our Team</h1>
      <div class="pers">


        <div class="pe">
          <img src="/assets/manager/shubham.jpeg" alt="">
          <div class="p-name">Shubham Nikam</div>
          <div class="p-des">Credit Manager</div>
          <div class="p-sm">
           
            <!-- Facebook -->
            <a href=""><i class="fa fa-facebook"></i></a>
            &nbsp;

            <!-- Twitter -->
            <a href=""><i class="fa fa-twitter"></i></a>
            &nbsp;
            
            <!-- Instagram -->
            <a href="https://www.instagram.com/shubhamnikam0096/"><i class="fa fa-instagram"></i></a>
            
          </div>
        </div>

        <div class="pe">
          <img src="/assets/manager/Yash.jpeg" alt="">
          <div class="p-name">Yash Patil</div>
          <div class="p-des">Account Head</div>
          <div class="p-sm">

             <!-- Facebook -->
             <a href=""><i class="fa fa-facebook"></i></a>
             &nbsp;
            

             <!-- Twitter -->
             <a href=""><i class="fa fa-twitter"></i></a>
             &nbsp;
             
             <!-- Instagram -->
             <a href="https://www.instagram.com/9_yash_patil_4/"><i class="fa fa-instagram"></i></a>
            
           
          </div>
        </div>

        <div class="pe">
          <img src="/assets/manager/Dnyaneshwar.jpeg" alt="">
          <div class="p-name">Dnyaneshwar Wankhede</div>
          <div class="p-des">Operational Executive</div>
          <div class="p-sm">
                 
               <!-- Facebook -->
               <a href="https://www.facebook.com/dannyv2109"> <i class="fa fa-facebook"></i></a>
            &nbsp;

            <!-- Twitter -->
            <a href=""><i class="fa fa-twitter"></i></a>
            &nbsp;
            <!-- Instagram -->
            <a href="https://www.instagram.com/dannyr0910/"><i class="fa fa-instagram"></i></a>
            
          </div>
        </div>


        <div class="pe">
          <img src="/assets/manager/saurabh.jpeg" alt="">
          <div class="p-name">Saurabh Chaure</div>
          <div class="p-des">Relational Executive</div>
          <div class="p-sm">
                 
               <!-- Facebook -->
            <a href="https://www.facebook.com/profile.php?id=100009513161348"><i class="fa fa-facebook"></i></a>
            &nbsp;

            <!-- Twitter -->
            <a href="https://twitter.com/TravellerDesi"><i class="fa fa-twitter"></i></a>
            &nbsp;
            <!-- Instagram -->
            <a href="https://www.instagram.com/desi___traveller/"><i class="fa fa-instagram"></i></a>
            
          </div>
        </div>

        <div class="pe">
          <img src="/assets/img/Gaju bhai.jpeg" alt="">
          <div class="p-name">Gajanan Gadekar</div>
          <div class="p-des">Backend Developer (Leader)</div>
          <div class="p-sm">
                 
               <!-- Facebook -->
               <a href="https://www.facebook.com/gadekar.gajanan1"><i class="fa fa-facebook"></i></a>
            &nbsp;

            <!-- Twitter -->
            <a href="https://twitter.com/gajugadekar"><i class="fa fa-twitter"></i></a>
            &nbsp;
            <!-- Instagram -->
            <a href="https://www.instagram.com/gaju_gadekar/"><i class="fa fa-instagram"></i></a>
            
          </div>
        </div>


        <div class="pe">
          <img src="/assets/img/pavan.jpeg" alt="">
          <div class="p-name">Pavan Wagh</div>
          <div class="p-des">Front-End Developer</div>
          <div class="p-sm">
                 
               <!-- Facebook -->
               <a href="https://www.facebook.com/pavan.wagh.946"><i class="fa fa-facebook"></i></a>
            &nbsp;

            <!-- Twitter -->
            <a href="https://twitter.com/PavanPramodWagh"><i class="fa fa-twitter"></i></a>
            &nbsp;
            <!-- Instagram -->
            <a href="https://www.instagram.com/im__darknet_king__/"><i class="fa fa-instagram"></i></a>
            
          </div>
        </div>


      </div>

    </div>
  </div>





<div class="bg-light">
    <div class="container">
        <div class="row justify justify-content-center">
            <div class="col-11 col-md-8 col-lg-6 col-xl-5">
                <form class="" onsubmit="event.preventDefault()">
                    <div class="card bg-dark">
                        <div class="row mt-0">
                            <div class="col-md-12 ">
                                <h4 class="" style="color: aliceblue;">Contact Us</h4>
                                <p style="color: aliceblue;">Use the form below to share your questions, ideas, comments and feedback</p>
                            </div>
                        </div>
                        <div class="form-group row mb-3">
                            <div class="col-md-12 mb-0">
                                <p class="mb-1" style="color: aliceblue;">Email</p> <input id="e-mail" type="text" placeholder="Enter your email" name="email" class="form-control input-box rm-border">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12 mb-2">
                                <p class="mb-1" style="color: aliceblue;">Message</p> <textarea id="message" type="text" placeholder="Enter your message" name="message" class="form-control input-box rm-border"></textarea>
                            </div>
                        </div>
                        <div class="form-group row justify-content-center mb-0">
                            <div class="col-md-12 px-3"> <input type="submit" value="Submit" class="btn btn-block btn-purple rm-border"> </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<footer class="footer">
  <div class="d-sm-flex justify-content-center justify-content-sm-between py-2">
    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © DesiTraveller</span>
    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Free <a href="https://youtu.be/wjodsFgXglU" target="_blank">  DesiTraveller Template </a> For More Videos, do like,share and Subscribe <a href="https://www.youtube.com/channel/UCIrLkf-pFFvReqKUjKbsJfw" target="_blank">DesiTraveller.com </a></span>
  </div>
</footer>




