

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color: red;" href="#">Finacuity</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Best Seller</a>
      </li>

      <li class="nav-item">
       <a class="nav-link" routerLink="/front/about-us">About-Us</a>
      </li>

       <li class="nav-item">
         <a class="nav-link" routerLink="/front/contact-us">Contact-Us</a>
       </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2"  type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" id="btn-src" type="submit">Search</button>
    </form>
  </div>
</nav>


<body>
<div class="container">
  <h1 style="text-align: center; font-size: 60px;">Our Mission</h1>
  <p style="text-align: center; font-size: 30px;">
    We partner with clients in long-term, <strong style="color:rgb(63, 0, 165); font-weight: bolder; font-size: 35px;">trusted financial advisory</strong> relationships.<br>

    We strive to provide<i style="font-weight: bold; color: brown;"> financial peace</i> of mind by delivering tailored objective <br>
    advice designed to give  <strong style="color:blue;"> the confidence</strong> to pursue their own <br>
    <strong style="color: red;"> passion, Dreams and talents.</strong>
  </p>
</div>

<div class="testimonials">
    <div class="inner">
      <h1>About-Us</h1>
      <div class="border"></div>

      <div class="row">
        <div class="col">
          <div class="testimonial">
            <img src="/assets/manager/shubham.jpeg" alt="">
            <div class="name">Shubham Nikam</div>
            <div class="stars">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
             
            </div>

            <p>
              Dedicated professional with 5+ years’ experience ready to work with mutual coordination, proper communication and intense hard work. 
            </p>
          </div>
        </div>

        <div class="col">
          <div class="testimonial">
            <img src="/assets/manager/Yash.jpeg" alt="">
            <div class="name">Yash Patil</div>
            <div class="stars">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>

            <p>
              To proceed with my career with an association that will use my (authority) and (authoritative) aptitudes to profit common development and achievement. 
            </p>
          </div>
        </div>

        <div class="col">
          <div class="testimonial">
            <img src="/assets/manager/saurabh.jpeg" alt="">
            <div class="name">Saurabh Chaure</div>
            <div class="stars">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
             

            </div>

            <p>
              To get an experienced post in the (Financial Services) industry with an emphasis on operational administration, procedure enhancements and group authority
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

 
</body>

   <footer class="footer">
      <div class="d-sm-flex justify-content-center justify-content-sm-between py-2">
        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © DesiTraveller</span>
        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Free <a href="https://youtu.be/wjodsFgXglU" target="_blank">  DesiTraveller Template </a> For More Videos, do like,share and Subscribe <a href="https://www.youtube.com/channel/UCIrLkf-pFFvReqKUjKbsJfw" target="_blank">DesiTraveller.com </a></span>
      </div>
    </footer>

  

